body {
    background-image: radial-gradient(rgb(60 0 255 / 0%) 50%, rgb(10 0 158 / 31%) 75%), url(/src/assets/space-bg-drop.png);
    background-blend-mode: saturation;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
            "slnt" 0,
            "wdth" 100,
            "GRAD" 0,
            "ROND" 0;
    color:white;
}

main{
    display: flex;
    gap: 3rem;
    max-width: 2000px;
    margin-inline:auto;
    padding-inline: clamp(1rem, 3vw, 4rem);
    container-name: main;
    container-type:inline-size;
    position: relative;

}

h1{
    font-family: var(--heading-font-family);
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: clamp(3rem, 5vw, 6rem);
    text-shadow:  2px  2px 0  var(--accent-color-200) , 5px  5px 0  var(--accent-color-400);
    margin-bottom: .5rem;
}

h2 {
    background-color: oklch(from var(--main-color-900) l c h / .7) ;
    display: inline;
    padding: 1rem;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--main-grid-column-size), 1fr));
    gap: var(--main-grid-gap-size);

    @container main (width > calc(( 200px * 2) + (2.5rem * 1))) {
        --main-grid-column-size: 200px;
    }

    @container main (width > calc(( 250px * 4) + (2.5rem * 3))) {
        --main-grid-column-size: 250px;
    }
}