:where(h1,h2,h3,h4,h5,h6, p){
    margin: 0 0 .5rem 0;
    text-wrap:balance;
}

:where(p, label, span, button) {
    text-wrap:pretty;
}
:where(label) {
    display: inline-block;
}

:where(button, input, textarea, select, a, [tabindex]) {
    border-style: none;
    transition: all var(--transition-timing);
    &:focus-visible {
        outline:2px solid var(--secondary-color-200);
        outline-offset: 3px;
    }
}

summary {
    cursor: pointer;
}

a {
    color: oklch(from var(--accent-color-400) .7 c h );
    text-decoration-style: dashed;
    text-underline-offset: 5px;

    &:visited {
        color: oklch(from var(--base-color-600) .6 c h);

    }

    &:hover {
        color: oklch(from var(--accent-color-400) .9 c h );
    }



    &:visited:hover {
        color: oklch(from var(--accent-color-400) .9 c h);
    }

}