:root {
    --stacked-gap-clamp-factor: var(--spacing-clamp-factor);
    --stacked-gap-clamp-min: 1rem;
    --stacked-gap-clamp-mid: 3vw;
    --stacked-gap-clamp-max: 2rem;
}

@layer utilities {

    .stacked {
        display: flex;
        flex-direction: column;
        gap: clamp(
                calc(var(--stacked-gap-clamp-min) * var(--stacked-gap-clamp-factor)),
                calc(var(--stacked-gap-clamp-mid) * var(--stacked-gap-clamp-factor)),
                calc(var(--stacked-gap-clamp-max) * var(--stacked-gap-clamp-factor))
        );

        & .stacked {
            --stacked-gap-clamp-factor: .5;
        }
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }
}
