
@layer components {
    .hero-recruits header:has([open]) {
        --transition-timing: .2s ease-in-out;
        transition: border var(--transition-timing);
    }

    .hero-recruits header:has([open]) {
        position: relative;
        z-index: 2;
        border-bottom:none;
    }

}
