:root {
    --search-spacing-clamp :  clamp(
            calc(var(--spacing-clamp-min) * var(--spacing-clamp-factor)),
            calc(var(--spacing-clamp-mid) * var(--spacing-clamp-factor)),
            calc(var(--spacing-clamp-max) * var(--spacing-clamp-factor))
    );

}

@layer components {
    search {
        & form {
            & > div {
                width: 100%;
                display: inline-flex;
                margin-bottom:  var(--search-spacing-clamp);
                & input {
                    width: 100%;
                }
            }
        }
    }

    .search-results {
        --spacing-clamp-factor: .25;
        --transition-timing: .1s ease-in-out;

        summary {
            margin-bottom: 5px;
        }



        &[open] ul {
            opacity: 1;
            transform: rotateX(0deg);

        }

        &::details-content {
            transition: content-visibility 600ms allow-discrete;
        }



        & ul {
            position: absolute;
            display: flex;
            z-index: 5;
            padding: var(--search-spacing-clamp);
            width: calc(100% + 2px);
            left: -1px;
            box-sizing: border-box;
            gap: var(--search-spacing-clamp);
            background: linear-gradient(oklch(from var(--base-color-900) l c h / 1) 20%, oklch(from var(--base-color-900) l c h / .8));
            backdrop-filter: blur(10px);
            margin: 0;
            overflow-x: auto;
            list-style: none ;
            align-items: center;
            border-radius: 0 0 1rem 1rem;
            corner-shape: bevel;
            border: 1px solid oklch(from var(--base-color-600) .6 c h );
            border-top: none;

            opacity: 0;
            transition: opacity var(--transition-timing), transform var(--transition-timing);
            transform: rotateX(-90deg);
            transform-origin: top;

            & button.hero {
                font-weight: normal;
                color: var(--base-color-800);
                padding: 0;
                padding-inline-end: var(--search-spacing-clamp);
                & img {
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    height: 50px;
                    display: block;
                    border: 1px solid var(--secondary-color);
                    margin-inline-end: var(--search-spacing-clamp);
                    background-image: url("/kirbydot-user-thumb.png");
                }
            }
        }
    }
}
